<!DOCTYPE html>
<html lang="en">
<head>
    <title>Express.js FORM</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<h1>ADD A TAQUERIA!</h1>
    <form method="POST" action="/api/taquerias/">
      <input type="text" name="restaurant">
      <input type="text" name="id">
      <button type="submit">ADD</button>
    </form>
</body>