<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Express.js!</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Express and EJS</h1>
    <div class="container">
        <p>This is a paragraph of text. YAY!</p>
    </div>
</body>